fastapi==0.110.0
uvicorn[standard]==0.27.0
spacy==3.7.4
sentencepiece==0.2.0
python-dotenv==1.0.0

langchain==0.1.14
langchain-google-genai==1.0.10
google-generativeai==0.7.2  # ✅ compatible with langchain-google-genai


# REMOVE these if not required to reduce memory
# transformers==4.38.2
# numpy==1.26.4
